## Section: Core config
homeassistant:
  # Name of the location where Home Assistant is running
  name: Boiles Home
  # Location required to calculate the time the sun rises and sets
  latitude: !secret home_latitude
  longitude: !secret home_longitude
  # Impacts weather/sunrise data (altitude above sea level in meters)
  elevation: !secret home_elevation
  # metric for Metric, imperial for Imperial
  unit_system: imperial
  # Pick yours from here: http://en.wikipedia.org/wiki/List_of_tz_database_time_zones
  time_zone: America/Los_Angeles
  customize: !include customize.yaml

recorder:
  db_url: !secret mysql_db_url
  purge_keep_days: 120

http:

## Section: Default config

# See https://www.home-assistant.io/integrations/default_config/
# `default_config` is a meta-component and configures a default set of
# integrations for Home Assistant to load. The integrations that will be
# loaded are: automation, cloud, config, frontend, history, logbook, map,
# mobile_app, person, script, ssdp, sun, system_health, updater, zeroconf

# default_config:

automation: !include automation.yaml

# Nabu Casa cloud settings
cloud: !include cloud.yaml

# Enables configuration UI
config:

# Enables the frontend
frontend:

# Enables support for tracking state changes over time.
history:

# View all events in a logbook
# logbook:

mobile_app:

person:

script: !include script.yaml

# Simple Service Discovery Protocol
ssdp:

# Track the sun
sun:

system_health:

# Checks for available updates
updater:
  include_used_components: true

zeroconf:

## Section: Integration Config

ios:

# Allows you to issue voice commands from the frontend in enabled browsers
conversation:

zwave:
  usb_path: /dev/ttyACM0
  network_key: !secret zwave_network_key
  device_config:
    light.master_bathroom_light_level:
      refresh_value: true
      delay: 3
      polling_intensity: 2
    light.bedroom_light_level:
      refresh_value: true
      delay: 2
    light.living_room_light_level:
      refresh_value: true
      delay: 2
    light.dining_room_light_level:
      refresh_value: true
      delay: 2
    light.kitchen_light_level:
      refresh_value: true
      delay: 2
    light.kitchen_island_light_level:
      refresh_value: true
      delay: 2
    light.dining_room_chandelier_level:
      refresh_value: true
      delay: 2
    light.kitchen_hallway_light_level:
      refresh_value: true
      delay: 2

ecobee:
  api_key: !secret ecobee_api_key

octoprint:
  host: 10.0.0.7
  api_key: !secret octoprint_api_key
  bed: true

logi_circle:
  client_id: !secret logi_circle_client_id
  client_secret: !secret logi_circle_client_secret
  api_key: !secret logi_circle_api_key
  redirect_uri: !secret logi_circle_redirect_uri

yeelight:
  devices:
    10.0.0.40:
      name: Izzys Light

homekit:
  auto_start: false
  entity_config:
    switch.sprinkler_zone_1:
      type: sprinkler
    switch.sprinkler_zone_2:
      type: sprinkler
    switch.sprinkler_zone_3:
      type: sprinkler
    switch.sprinkler_zone_4:
      type: sprinkler
    binary_sensor.front_door:
      linked_battery_sensor: sensor.front_door_battery_level
    binary_sensor.back_door:
      linked_battery_sensor: sensor.back_door_battery_level
  filter:
    include_entities:
      - binary_sensor.front_door
      - binary_sensor.back_door
    exclude_domains:
      - group
      - automation
      - script
      - device_tracker
      - climate
      - binary_sensor
      - person
    exclude_entities:
      - switch.twitter_laptop_wol
      - light.master_bathroom_light_level_2
      - switch.3d_printer
      - switch.twitter_laptop_wol
      - sensor.dark_sky_daily_low_temperature
      - sensor.dark_sky_daily_high_temperature
      - sensor.dark_sky_temperature
      - sensor.octoprint_target_bed_temp
      - sensor.octoprint_actual_bed_temp
      - sensor.outside_heatindex
      - sensor.outside_dewpoint
      - sensor.inside_heatindex
      - sensor.inside_dewpoint
      - sensor.basement_heatindex
      - sensor.basement_dewpoint
      - switch.home_assistant_pi4
      - sensor.bedroom_temperature
      - sensor.dht22_absolutehumidity
      - sensor.dht22_dewpoint
      - sensor.dht22_heatindex
      - sensor.living_room_temperature
      - sensor.mh_z19_temperature
      - sensor.ccs811_eco2_value
      - switch.unifi_controller_pi_eth0

unifi:
  controllers:
  - host: 10.0.0.6
    site: Boiles Home
    block_client:
    - 'ac:cf:5c:33:88:45' # Christina's iPad Air
    - '28:6a:ba:8e:95:18' # John's iPad2

route53:
  aws_access_key_id: !secret route53_access_key_id
  aws_secret_access_key: !secret route53_secret_access_key
  zone: !secret route53_zone
  domain: !secret route53_domain
  records:
    - house

tplink:
  discovery: false
  switch:
    - host: 10.0.0.5

mqtt:
  client_id: home-assistant
  discovery: true
  discovery_prefix: homeassistant
  password: !secret mqtt_password

## Section: Component configuration 

group: !include group.yaml

python_script:

# Discover some devices automatically
discovery:
  ignore:
    - apple_tv
    - yeelight

camera:
  - platform: mjpeg
    name: OctoPrint Camera
    mjpeg_url: http://10.0.0.7/webcam/?action=stream
    still_image_url: http://10.0.0.7/webcam/?action=snapshot

sensor: !include sensor.yaml

binary_sensor:
  - platform: octoprint
    monitored_conditions:
      - Printing
      - Printing Error

panel_iframe:
  jupyterlab:
    title: JupyterLab
    icon: mdi:flask
    url: http://10.0.0.2:7777

# From https://gist.github.com/AdamNaj/cbf4d792a22f443fe9d354e4dca4de00
panel_custom:
  - name: zwavegraph2
    sidebar_title: Z-Wave Graph
    sidebar_icon: mdi:access-point-network
    url_path: zwave

switch:
  - platform: wake_on_lan
    name: "Twitter Laptop WOL"
    # mac: "F4-5C-89-A3-A7-73" # Twitter Laptop Wifi
    mac: "0C-4D-E9-AA-C6-52" # Thunderbolt ethernet (with 'tw' on it)
    host: tw-mbp-jboiles.local
  - platform: template
    switches:
      hvac_fan:
        friendly_name: "Fan"
        value_template: "{{ is_state_attr('climate.thermostat', 'fan_mode', 'on') }}"
        turn_on:
          service: climate.set_fan_mode
          data:
            entity_id: climate.thermostat
            fan_mode: "on"
        turn_off:
          service: climate.set_fan_mode
          data:
            entity_id: climate.thermostat
            fan_mode: "auto"

# Used for the automation that notifies every 30 min when the garage is open.
timer:
  garage_door:
    duration: '00:30:00'

media_player:
  - platform: universal
    name: Soundbar
    children:
      - media_player.living_room
      - media_player.everywhere
    commands:
      turn_on:
        service: esphome.ir_blaster_transmit_nec
        data:
          address: 0xFF
          # The following command is the correct command for on/off, but HomeKit
          # has a quirk where it tries to make sure the soundbar is on before sending
          # volume commands. But since the on/off IR codes are the same this ends
          # up turning the sound bar off. I'm working around this by just sending the
          # volume up command since it also will turn on the sound bar.
          # command: 0x02FD
          command: 0x827D
      turn_off:
        service: esphome.ir_blaster_transmit_nec
        data:
          address: 0xFF
          command: 0x02FD
      volume_up:
        service: esphome.ir_blaster_transmit_nec
        data:
          address: 0xFF
          command: 0x827D
      volume_down:
        service: esphome.ir_blaster_transmit_nec
        data:
          address: 0xFF
          command: 0xA25D
      volume_mute:
        service: esphome.ir_blaster_transmit_nec
        data:
          address: 0xFF
          command: 0x12ED
      select_source:
        service: esphome.ir_blaster_transmit_nec_string
        data_template:
          address: 0xFF
          command: >-
            {%- if source == 'Optical' -%}
              0x13EC
            {%- elif source == 'Aux 1' -%}
              0x8D72
            {%- elif source == 'USB' -%}
              0x857A
            {%- elif source == 'Bluetooth' -%}
              0x44BB
            {%- elif source == 'Aux 2' -%}
              0x4DB2
            {%- elif source == 'Digital' -%}
              0x936C
            {%- endif -%}
