home_latitude: 30.0000
home_longitude: -122.0000
home_elevation: 0

mqtt_password: MQTTPASSWORDHERE
http_base_url: 10.0.0.89

darksky_api_key: APIKEYHERE
router_password: ROUTERPASSWORDHERE
zwave_network_key: "0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00"
octoprint_api_key: OCTOPRINTAPIKEYHERE

mysql_db_url: mysql://hassuser:PASSWORDHERE@localhost/hass_db

# Get this from developer section of the Ecobee page https://www.ecobee.com/consumerportal/index.html
ecobee_api_key: APIKEYHERE
