home_latitude: 30.0000
home_longitude: -122.0000
home_elevation: 0

http_api_password: asdfasdf
http_base_url: www.yourdomain.com:443
http_ssl_certificate: /etc/letsencrypt/live/www.yourdomain.com/fullchain.pem
http_ssl_key: /etc/letsencrypt/live/www.yourdomain.com/privkey.pem

darksky_api_key: asdfasdf
router_password: asdfasdf
zwave_network_key: "0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00"
octoprint_api_key: asdfasdf
airvisual_api_key: asdfasdf

mysql_db_url: mysql://hassuser:PASSWORDHERE@localhost/hass_db

ecobee_api_key: APIKEYHERE
