home_latitude: 30.0000
home_longitude: -122.0000
home_elevation: 0

mysql_db_url: mysql://homeassistant:PASSWORDHERE@core-mariadb/homeassistant?charset=utf8

# Used for the Jupyter HASS addon config
github_token: GITHUBTOKENHERE

# Follow the instructions here: https://www.home-assistant.io/integrations/route53
route53_access_key_id: ACCESSKEYID
route53_secret_access_key: ACCESSSECRET
route53_zone: ROUTE53ZONE
route53_domain: ROUTE53 DOMAIN

unifi_username: UNIFIUSERNAME
unifi_password: UNIFIPASSWORD

aqicn_api_token: SECRETAQICNTOKEN
