wifi_ssid: MyCoolWifiNetwork
wifi_password: "mysecurepassword"
wifi_ap_password: "fallbackappassword"
ota_password: "otainstallpassword"
# Key can be generated here: https://esphome.io/components/api.html?highlight=randomly%20generated
esphome_encryption_key: ""
